<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>徐老师</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=08c8e066705a7186bc2c06e197df6260"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    
    <title>{{ page.title }}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="{{ page.description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">

    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

    <!-- Styles and Scripts -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vno.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/tomorrow.css">
    
    <!-- Ghost Head  -->
   

</head>

  
  
<!--添加了百度的统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a8bed9b1e2886e12b7596655bac7bd67"; //请您改成自己的代码，这是言十年的百度代码哦
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
  
  /***************************************
由于Chrome、IOS10等已不再支持非安全域的浏览器定位请求，为保证定位成功率和精度，请尽快升级您的站点到HTTPS。
***************************************/
    var map, geolocation;
    //加载地图，调用浏览器定位服务
    map = new AMap.Map('container', {
        resizeEnable: true
    });
    map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB'
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
      
    });
    //解析定位结果
    function onComplete(data) {
        var str=[''];
        str.push(data.position.getLng());
        str.push('W' + data.position.getLat());
        if(data.accuracy){
             str.push('=' + data.accuracy + 'm');
        }//如为IP精确定位结果则没有精度信息
      
        document.getElementById('tip').innerHTML = str.join('<br>');
    }
   
</script>

<body class="home-template no-js">
<div id='container'></div>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
     
    </span>

    {% include side-panel.html %}
   <div id="tip"></div>
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
           {{ content }} 

            {% include footer.html %}
        </div>
    </div>

    <!-- Ghost Footer  -->


    <!--  The main JavaScript file -->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
 <!-- Highlight.js /assets/js/ --> 
    <script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
